body {
  background-color: #D2E9E3;
  font-family: Helvetica;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body .navbar {
  font-size: 18px;
  background-color: #1b6466;
  border: 3px solid black;
  padding-bottom: 10px;
}
body .navbar .navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: black;
  font-size: 24px;
}
body .navbar .logo {
  display: inline-block;
  font-size: 22px;
}
body .navbar .logo img {
  width: 40%;
  text-align: center;
  margin-left: 20%;
}
body .navbar .main-nav {
  list-style-type: none;
  display: none;
  padding: 0px;
}
body .navbar .main-nav .nav-links {
  text-decoration: none;
  color: black;
  font: bold;
}
body .navbar .main-nav li {
  text-align: center;
  margin: 15px auto;
}
body .navbar .active {
  display: block;
}
body #container {
  padding-top: 2%;
}
body #container .hero {
  height: 100%;
  width: 100%;
  background-color: #d2e9e3;
  position: absolute;
}
body #container .hero .form-box {
  width: 280px;
  height: 380px;
  position: relative;
  margin: 6% auto;
  background: white;
  padding: 5px;
  overflow: hidden;
}
body #container .hero .form-box .button-box {
  width: 175px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #24ff411f;
  border-radius: 30px;
}
body #container .hero .form-box .button-box #btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 90px;
  height: 100%;
  background: linear-gradient(to right, #d2e9e3, #2c3532);
  border-radius: 30px;
  transition: 0.5s;
}
body #container .hero .form-box .button-box .toggle-btn {
  padding: 5px 20px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}
body #container .hero .form-box .input-group {
  position: absolute;
  width: 180px;
  transition: 0.5s;
}
body #container .hero .form-box .input-group .input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}
body #container .hero .form-box .input-group .submit-btn {
  width: 45%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  margin-top: 10%;
  background: linear-gradient(to right, #d2e9e3, #2c3532);
  border: 0;
  outline: none;
  border-radius: 30px;
  font-size: 15px;
  text-align: center;
}
body #container .hero .form-box .input-group .check-box {
  margin: 30px 10px 30px 0;
}
body #container .hero .form-box .input-group span {
  color: #777;
  font-size: 12px;
  position: absolute;
  margin: 30px 10px 30px 0;
}
body #container .hero .form-box .input-group .show-group {
  float: right;
  font-size: 10px;
}
body #container .hero .form-box .input-group p {
  text-align: center;
  font-size: 13px;
  color: red;
}
body #container .hero .form-box #login {
  left: 50px;
}
body #container .hero .form-box #signup {
  left: 450px;
}
body #container #sidebar {
  visibility: hidden;
  width: 17%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px solid black;
  overflow-x: hidden;
  margin-top: 100px;
  margin-left: 5%;
  margin-right: 10px;
  margin-bottom: 10px;
}
body #container #sidebar h3 {
  text-align: center;
}
body #container #sidebar li {
  list-style: none;
}
body #container #sidebar a {
  text-decoration: none;
  color: black;
}
body #container #sidebar a:hover {
  color: white;
}
body #container #bienvenida {
  margin-left: 5%;
  display: inline;
}
body #container #bienvenida #welcome {
  display: inline;
  text-align: left;
  font-size: 15px;
}
body #container #bienvenida #welcome2 {
  float: right;
  margin-top: 0px;
  display: inline;
  text-align: right;
  margin-right: 5%;
  font-size: 12px;
  text-decoration: underline;
}
body #container #main {
  width: 90%;
  margin: 5%;
}
body #container #main .web {
  margin: 5%;
}
body #container #main .web .valoracion {
  text-align: center;
  padding: 3%;
  display: none;
}
body #container #main .web .valoracion .estrellas {
  border: none;
  text-decoration: none;
  font-size: 30px;
  background-color: #d2e9e3;
  cursor: pointer;
  outline: white;
}
body #container #main .web .valoracion .estrellas:focus {
  box-shadow: none;
  outline: white;
  border: none;
}
body #container #main .web .categorias {
  margin: 5% 5% 5% 0px;
}
body #container #main .web img {
  width: 100%;
}
body #container #main .web h2 {
  border-bottom: 3px solid #1b6466;
}

@media screen and (min-width: 768px) {
  body {
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }
  body .navbar .navbar-toggle {
    display: none;
  }
  body .navbar .logo {
    margin-top: 0;
    padding-top: 2%;
    height: 100px;
    width: 150px;
  }
  body .navbar .logo img {
    width: 50%;
    text-align: center;
  }
  body .navbar .logo:hover {
    color: white;
  }
  body .navbar .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }
  body .navbar .main-nav .nav-links {
    margin-left: 40px;
  }
  body .navbar .main-nav .nav-links:hover {
    color: black;
  }
  body .navbar .main-nav .li {
    margin: 0;
  }
  body #container #sidebar {
    visibility: visible;
  }
  body #container #bienvenida {
    margin-left: 27%;
    display: inline;
  }
  body #container #bienvenida #welcome {
    display: inline;
    text-align: left;
    font-size: 15px;
  }
  body #container #bienvenida #welcome2 {
    float: right;
    margin-top: 0px;
    display: inline;
    text-align: right;
    margin-right: 5%;
    font-size: 12px;
    text-decoration: underline;
  }
  body #container #main {
    margin: 0;
    width: 75%;
    margin-left: 23%;
  }
  body #container #main .web {
    margin: 5%;
  }
  body #container #main .web img {
    width: 100%;
  }
  body #container #main p {
    margin: 10px;
  }
  body #container .hero {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), black;
    background-position: center;
    background-size: cover;
    position: absolute;
  }
  body #container .hero .form-box {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: white;
    padding: 5px;
    overflow: hidden;
  }
  body #container .hero .form-box .button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #24ff411f;
    border-radius: 30px;
  }
  body #container .hero .form-box .button-box #btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #d2e9e3, #2c3532);
    border-radius: 30px;
    transition: 0.5s;
  }
  body #container .hero .form-box .button-box .toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
  }
  body #container .hero .form-box .input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
  }
  body #container .hero .form-box .input-group .input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
  }
  body #container .hero .form-box .input-group .submit-btn {
    width: 45%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin-top: 10%;
    background: linear-gradient(to right, #d2e9e3, #2c3532);
    border: 0;
    outline: none;
    border-radius: 30px;
  }
  body #container .hero .form-box .input-group .check-box {
    margin: 30px 10px 30px 0;
  }
  body #container .hero .form-box .input-group span {
    color: #777;
    font-size: 12px;
    position: absolute;
  }
  body #container .hero .form-box #login {
    left: 50px;
  }
  body #container .hero .form-box #signup {
    left: 450px;
  }
}

/*# sourceMappingURL=busqueda.css.map */
